<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          crossorigin="anonymous">

    <title>{% block title %}KiberMini{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid w-75">
        <a class="navbar-brand" href="{% url 'index' %}">KiberMini</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1"
                aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler1">

            <ul class="navbar-nav ml-md-auto text-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Цены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Турниры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'panel' %}">Панель</a>
                </li>
            </ul>
            <form class="form-inline">
                <a class="btn btn-outline-success {% block css_class_logout %}{% endblock %}" href="{% url 'logout' %}"
                   role="button">Выйти</a>
                <a class="btn btn-outline-success {% block css_class_sign_in %}{% endblock %}"
                   href="{% url 'sign_in' %}" role="button">Войти</a>
            </form>
        </div>
    </div>
</nav>
<div class="conteiner-fluid  w-75 mx-auto">
    {% block content %}{% endblock %}
</div>
<footer class="conteiner-fluid">

</footer>
    {% block script %}{% endblock %}
</body>
</html>