{% extends "base.html" %}

{% block css_class_logout %}
    {% if not user.is_authenticated %}
        d-none
    {% endif %}
{% endblock %}
{% block css_class_sign_in %}
    {% if user.is_authenticated %}
        d-none
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 ">{{ user.profile.money }}</div>
        <div class="col-sm-3 bg-dark">

        </div>
        <div class="col-sm-9 bg-light">
            <form method="post" class="col">
                {% csrf_token %}
                <div class="form-group col">
                    <label>Select location</label>
                    <select name="location" class="form-control" onchange="get_nodes(this.value)">
                        <option value="0"></option>
                        {% for i in locations %}
                            <option value="{{ i.id }}">{{ i.city }}, {{ i.street }}, {{ i.building }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col">
                    <label>Select computer</label>
                    <select id="select_computer" name="computer" class="form-control"
                            onchange="get_scheduler(this.value)">
                        <option value="0"></option>
                    </select>
                </div>
                <div class="form-group col">
                    <label>time</label>
                    <input name="time" type="text" class="form-control">
                </div>
                <div class="form-group col">
                    <label>period</label>
                    <input name="period" type="text" class="form-control">
                </div>
                <div class="form-group col">
                    <label>{{ result }}</label>
                </div>
                <button type="submit" class="col btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        var socket = new WebSocket("ws://localhost:8000/users/");
        socket.onopen = function () {
            console.log("Соединение установлено.");
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log('Соединение закрыто чисто');
            } else {
                console.log('Обрыв соединения'); // например, "убит" процесс сервера
            }
            console.log('Код: ' + event.code + ' причина: ' + event.reason);
        };

        socket.onmessage = function (event) {
            var json = JSON.parse(event.data);
            if (json["nodes"]) {
                select = document.getElementById('select_computer');
                for (var item in json["nodes"]) {
                    var opt = document.createElement('option');
                    opt.value = item;
                    opt.innerHTML = json["nodes"][item];
                    select.appendChild(opt);
                }
            }
            if (json["scheduler"]) {
                alert(JSON.stringify(json["scheduler"]));
            }
        };

        socket.onerror = function (error) {
            alert("Ошибка " + error.message);
        };

        function get_nodes(location_id) {
            socket.send(JSON.stringify({"get_nodes": {"location": location_id}}))
        }

        function get_scheduler(node_id) {
            socket.send(JSON.stringify({"get_scheduler": {"node": node_id}}))
        }
    </script>
{% endblock %}